{% extends "layout_multi_sections.html" %}

{% block page_title %}
Events
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}leedsConcertSeason/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
   {% include "leedsConcertSeason/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
<h1>How to book</h1>
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}

{% block sectionOneFullBottom %}


<nav class="page-navigation">
  <a href="#" class="show-all-parts">what's on this page</a>
<ol>
  <li><a class="active" href="#sectionOne">Online or Telephone</a></li>
  <li><a href="#sectionTwo">Discounts</a></li>
  <li><a href="#sectionThree">Orchestral subscriptions</a></li>
  <li><a href="#sectionFour">Seating </a></li>
</ol> 
<div class="clearfix"></div>
</nav>  

       
<h2 class="ms-rteElement-H2-center"></h2>

<div class="ms-rteElement-divRight50"><h2 class="ms-rteElement-H2">ONLINE</h2>
<a class="btn btn-primary" href="http://purchase.tickets.com/buy/TicketPurchase?agency=LEEDSINT&amp;organ_val=21996">BOOK TICKETS</a><br><br>
<p>Buy tickets online for events. This service is facilitated by Tickets.com and uses the TicketSafe TM security system which ensures that your credit card 
details are protected.</p>
<p><br>Please note a booking fee of £1 per ticket applies to music and 
comedy events except for the Town Hall Tours where the fee will be 75p 
per ticket.</p>
<p>There are some tickets that y&#8203;ou can only book through the Box Office on <strong>+44 (0)113 224 3801</strong>. These include:<br><br>■ Subscriptions and season savers<br>■ Tickets for groups of 10 or more<br>■ Tickets for wheelchair users</p>




</div>

<h2 class="ms-rteElement-H2">BY TELEPHONE</h2>

<p class="ms-rteElement-textHighLight">+44(0) 113 376 0318</p>

<p>The booking line is open from 10am to 6pm Monday to Saturday.</p>
<p>Please note that a fee of £2.50 will &#8203;apply per transaction for all events except film screenings and tours where the fee will be £1 per transaction</p>
<p>Please note: under 16s must be accompanied by an adult for all events.</p>
<p><br>&nbsp;</p>


<h2 class="ms-rteElement-H2">IN PERSON OR BY POST</h2>
<p>City Centre Box Office, The Carriageworks, The Electric Press, 3 Millennium Square, Leeds, LS2 3AD</p>
<p><br>The Box Office is open to personal callers from 10am to 6pm Monday - Saturday.</p>

<h2 class="ms-rteElement-H2">PAYING FOR TICKETS</h2>
<p>The City Centre Box Office accepts bookings by most credit/debit cards. Cheques should be made payable to Leeds City Council. There is a £1 charge to cover postage of tickets. Alternatively, please enclose a stamped addressed envelope.</p>
<hr class="ms-rteElement-spacer">

</div>
		

{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}


                 <hr class="ms-rteElement-spacer">
<h2 class="ms-rteElement-H2">DISCOUNTS&#8203;&#8203;</h2>
<p class="ms-rteElement-textHighLight">Discounted tickets are available for selected performances for students, over 60s, unwaged and under 18s. Please check with the Box Office on <strong>+44 (0)113 376 0318</strong> for discounts applicable to your chosen event.</p>

<div class="ms-rteElement-divFull"><h3 class="ms-rteElement-H3">Leeds International Orchestral Season discounts</h3>

<p>For the Leeds International Orchestral Season patrons with 
disabilities and their essential carers may obtain two tickets for the 
price of one via the Essential Carer Scheme. Relevant documentation must
 be produced to prove eligibility for the &#8203;scheme. <br><br>For further 
information and to apply, please download the Essential Carer Scheme 
document or alternatively contact the Box Office on <strong>+44 (0)113 376 0318</strong> and a form can be posted out to you. Unfortunately our online sales 
software doesn't currently support the option to purchase discounted 
tickets online.<br><br>Leeds International Orchestral Season discounts<br>Over 60s: £1.50 reduction on all non-subscription tickets.<br>Under 18s, Full-time Students: 50% reduction on all tickets.<br>Unwaged: 50% reduction on all non-subscription tickets.<br> <br> </p>
<p>
 
</p>
<p>Our online sales software doesn't currently support the option to 
choose wheelchair spaces, however, the Box Office will be happy to 
advise you on seating options. Please call <strong>+44 (0)113 376 0318</strong>.</p>
</div>
<hr class="ms-rteElement-spacer">

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<div class="col-lg-12">
              <hr class="ms-rteElement-spacer">
<h2 class="ms-rteElement-H2">ORCHESTRAL SUBSCRIPTIONS</h2>
<p></p>
<p class="ms-rteElement-textHighLight">Substantial savings can be made by subscribing to the Leeds International Orchestral Season. The subscription scheme is the easy way to organise your concert-going, enabling you to choose the concerts you would like to attend and save money.</p>
<div class="ms-rteElement-divThird equal-item"><h3>GOLD SUBSCRIPTON</h3>
<p>25% discount when you book for all 20 concerts<br></p>
</div>

<div class="ms-rteElement-divThird equal-item"><h3>SILVER SUBSCRIPTON</h3>
<p>20% discount when you book between 10-19 concerts of your choice</p>
</div>

<div class="ms-rteElement-divThird equal-item"><h3>BRONZE SUBSCRIPTON</h3>
<p>15% discount when you book between 5 and 9 concerts of your choice</p>
</div>

<p>By subscribing to as few as five concerts you can:</p>
<p>
</p>
<ul>
<li>Secure your chosen seats for the whole season
</li>
<li>Enjoy priority booking before tickets go on sale to the general public</li>
<li>Save money... if you book a Gold Subscription you attend 5 concerts for free!</li>
<li>Spreads your payments through interest free credit</li>
<li>Receive free tickets to a concert by the City of Leeds Youth Orchestra
</li></ul>
<p>
For further information on subscriptions please contact the Box Office on <strong>+44 (0)113 376 0318</strong>.</p>
<hr class="ms-rteElement-spacer">

&#8203;  
                </div>
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
<div class="col-lg-12">
<hr class="ms-rteElement-spacer">
<div><h2 class="ms-rteElement-H2">SEATING PLAN</h2></div>
<p>View the &#8203;interactive seating plan of Leeds Town Hall</p>
<div class="ms-rteElement-div-center"><a class="btn btn-primary" href="https://images.tickets.com/images/primarysales/gpl/LEEDS_CC_VOS_2.html">View Seating Plan</a></div>
<br><br>
<div class="ms-rteElement-divLeft"><h3>STALLS LEVEL 1</h3>
<img src="http://www.leeds.gov.uk/leedsConcertSeason/PublishingImages/LICS%20Seating%20Plan%20Web%20Lower.jpg" alt="">
</div>

<div class="ms-rteElement-divRight50"><h3>GALLERY LEVEL 2</h3>
<img src="http://www.leeds.gov.uk/leedsConcertSeason/PublishingImages/Carousel/LICS%20Seating%20Plan%20Web%20Upper.jpg" alt="">
</div>
  
  </div>
                   <hr class="ms-rteElement-spacer">
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% include "includes/whatson/iconLinks.html" %}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 {% block footer_nav %}
   {% include "leedsConcertSeason/includes/main_nav.html" %}
 {% endblock %}