{% extends "layout_multi_sections.html" %}

{% block page_title %}
Events
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}leedsConcertSeason/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
   {% include "leedsConcertSeason/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
<h1>Events</h1>
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}

{% block sectionOneFullBottom %}
{% include "leedsConcertSeason/includes/events-results.html" %}
{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
  
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

  
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
 <h2 class="text-center">Keep in touch</h2>
             <ul class="iconLinks">
            
                <li class="facebook">
                    
                    <a href="https://www.facebook.com/childfriendlyleeds">
                        
                        facebook</a>
                </li>
            
                <li class="twitter">
                    
                    <a href="https://twitter.com/Child_Leeds">
                        
                        twitter</a>
                </li>
            
                <li class="youtube">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                        You tube</a>
                </li>

                      <li class="instagram">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                       instagram</a>
                </li>

                      <li class="email">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                        email</a>
                </li>
            
                </ul> 
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 {% block footer_nav %}
   {% include "leedsConcertSeason/includes/main_nav.html" %}
 {% endblock %}