<ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>How old do I need to be to adopt?</a>
            <div
                style="display: none;" class="content-block">
                <p>You need to be at least 21 years old to adopt. There is no upper age limit but we have to be realistic about
                    health and wellbeing in the long term to provide a permanent and stable home for a child.</p>&#8203;
                </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Do I need any special qualifications to adopt?</a>
            <div style="display: none;" class="content-block">
                <p>No. You should enjoy being with children and have a stable lifestyle but you don't need any special qualifications
                    to adopt a child.</p>
                <p>You will need the same skills you would need to parent a birth child, as well as some extra knowledge and
                    skills to enable you to meet the additional needs of your adopted child. We offer you advice, training
                    and continued support to help you build up the knowledge and skills you need. You can find more about
                    this on this help 'things to think about' document</p>
              <a href="http://www.leeds.gov.uk/adopt4leeds/Release%20Documents/What%20to%20consider.pdf" title="read more">Things to think about</a>
        </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
           <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>This is another item</a>
            <div style="display: none;" class="content-block">
                 <h4>Pay with direct debit, your card, or internet banking</h4>
    <p>You can choose to pay 10 monthly instalments from April to January, with nothing to pay in February or March. Or you can choose to make a single payment before the end of April. There are three ways you can pay your Council tax online.</p>
    <h5>Pay with direct debit, your card, or internet banking</h5>
    <p>The simplest and most convenient way to pay your Council Tax is by Direct Debit. You can use our online form to set up a direct debit to pay your council tax.</p>
    <p>You will have the added option of making 12 monthly payments, and you can choose your preferred payment date.</p>
    <a href="#" class="btn btn-primary" rel="external">Set up a direct debit</a>
    <h5>Pay with a credit or debit card</h5>
    <p>You can also pay each instalment online using your credit or debit card and our online form.</p>
    <a href="#" class="btn btn-primary">Pay with a credit or debit card</a>
    <h5>Make an internet banking payment</h5>
    <p>If you use online banking, you can set up a payment for the due date.</p>
    <p>The reference for the payment should be your 11 digit Council Tax account number which can be found at the top right hand side of your bill.</p>
    <p>You will also need the Council's bank sort code <strong>83 06 08</strong> and account number <strong>00740589</strong>.</p>
    <p>Use your own internet banking service to set up this payment.</p>
    <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>There’s a different process for <a href="#">tax credits</a>.</p>
    </div>
    <div class="panel panel-border-wide">
        <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.</p>
    </div>
    <div class="notice">
        <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
            You can be fined up to £5,000 if you don’t register.
        </strong>
    </div>
                    <table cellspacing="0" width="100%" class="ms-rteTable-default">
                        <tbody>
                            <tr>
                                <td class="ms-rteTable-default" style="width:33.3333%;">&#8203;&#8203;test</td>
                                <td class="ms-rteTable-default" style="width:33.3333%;">&#8203;test</td>
                                <td class="ms-rteTable-default" style="width:33.3333%;">&#8203;test</td>
                            </tr>
                            <tr>
                                <td class="ms-rteTable-default">&#8203;ttt</td>
                                <td class="ms-rteTable-default">&#8203;tt</td>
                                <td class="ms-rteTable-default">&#8203;tt</td>
                            </tr>
                        </tbody>
                    </table>
              
                
            </div>
        </div>
    </li>
</ul>