         <div class ="breadcrumb">
                        <span sitemapproviders="SPSiteMapProvider,SPXmlContentMapProvider" hideinteriorrootnodes="true"><a href="#ctl00_PlaceHolderMain_ctl00_SkipLink"><img alt="Skip Navigation Links" src="/WebResource.axd?d=eSU2ePpqcWi1nCXHcJ3z4-WDv_mfodTZDvJ_xuWt4rDK_uTCVxh9Ypwysf4rN9PbuBu8fduxp1aaZ8qYwbExIGr_2cRX1ryiiKpApvbA2jk1&amp;t=635793063671809273" width="0" height="0" style="border-width:0px;"></a><span><a class="bc-root" href="/Pages/default.aspx">Home</a></span><span>
                            <img id="ctl00_PlaceHolderMain_ctl00_ctl01_Image1" src="/_catalogs/masterpage/images/breadcrumb_line.png">
                        </span><span>Current page</span><a id="ctl00_PlaceHolderMain_ctl00_SkipLink"></a></span>
        </div>