               <nav id="main-menu" class="footer">
                    <div class="container-fluid">
                        
                         <ul>
                       <li><a href="" class="selected">Home</a></li>
                       <li><a href="">Nav item 2</a>
                       <ul>
                           <li><a href="">Subpage link one</a></li>
                           <li><a href="">Subpage link two with a longer link</a></li>
                           <li><a href="">Subpage link three</a></li>
                       </ul>
                       </li>
                       <li><a href="">Nav Item 3</a></li>
                   </ul>
                          
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.main-menu -->
                