    <div class="col-lg-12">
        <nav>
            <ul>
                <li>
                    <a href="#">Accessibility
                                            </a>
                </li>
                <li>
                    <a href="#">Privacy Statement
                                            </a>
                </li>
                <li>
                    <a href="#">Terms and Conditions
                                            </a>
                </li>
                <li>
                    <a href="#">Site Map
                                            </a>
                </li>
                <li>
                    <a href="#">Contact Us
                                            </a>
                </li>
                <li>
                    <a href="#" class="signin"><span>Sign in</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-12 logo-footer">
  <p>Copyright © Leeds City Council 2016</p>  
    </div>
