<hr class="ms-rteElement-spacer">
<div  class="iconLinks">
<div class="listWebpart" >   
<h2 class="text-center">CONNECT WITH US</h2>
             <ul>
            
                <li class="facebook">
                    
                    <a href="https://www.facebook.com/childfriendlyleeds">
                        
                        facebook</a>
                </li>
            
                <li class="twitter">
                    
                    <a href="https://twitter.com/Child_Leeds">
                        
                        twitter</a>
                </li>
            
    

                      <li class="email">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                        email</a>
                </li>
            
                </ul>
</div>
</div>
<hr class="ms-rteElement-spacer">                