<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <ul>
    <li class="two alignCenter content heightAuto"><div class="ExternalClass1BC15035ABFD40D094C297D811EBE0E5"><p class="bold">​Over</p>
<p><strong class="lead">300</strong></p>
<p class="bold">BUSINESSES,&nbsp;ORGANISATIONS AND INDIVIDUALS</p>
<p>have joined our campaign to make Leeds a child 
friendly city and signed up to be a child friendly 
Leeds ambassador</p></div>
​</li>
    <li class="four content heightAuto"><div class="ExternalClassD774ED79D0AD42C88CF53A2689C5B275">           <p><strong>We are always looking for new child friendly 
Leeds ambassadors</strong></p>
<br>
  
<p>you might be working for a business, a charity or other third sector organisation, or simply be 
someone who wants to help make a difference to children and young people in Leeds.​</p>

<a class="button" href="/childfriendlyleeds/Pages/How-do-I-get-involved.aspx">BECOME AN AMBASSADOR NOW</a>
<a class="button alt" href="/childfriendlyleeds/Pages/How-do-I-get-involved.aspx">MORE ON GETTING INVOLVED</a>
         </div>
​​​</li>
  </ul>
  <div class="clear"></div>
</div>