<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="two contentLink heightTwo">
        <div class="ExternalClass99EA043663D1467FA41ACA5A968A4A15">
          <p><strong>WHAT'S <br>ON</strong></p>
          <p>View all events&#8203;</p>
        </div><a href="/townhall/Pages/Whats-on.aspx"><span class="info">Current listings<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="two heightTwo imgCenter">
        <a href="http://www.bbc.co.uk" style="background: url(/public/images/PublishingImages/Brass2-photo-by-Simon-Cliff.jpg) no-repeat"><span class="info">TOWNHALL TOURS<span class="secondaryInfo">Explore the hidden secret side to the Town Hall!</span>
          <span
            class="arrow"></span>
            </span><span class="thirdInfo">Everyday</span></a>
      </li>
      <li class="two contentLink heightTwo">
        <div class="ExternalClassEFC78FA7E0424B81963F063CE1CA2FBC">
          <p>BOX OFFICE</p>
          <p><strong>0113&nbsp;<br>376 0318</strong>&#8203;</p>
        </div><a href="http://www.bbc.co.uk"><span class="info">Book tickets<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="two contentLink heightAuto color darker">
        <div class="ExternalClassA4146FBCA2A5425B94E59DCC12067ECF">
          <p><strong>BROCHURE</strong></p>
          <p>Browse our latest brochure <br>online&#8203;</p>
        </div>
        <a href="http://www.bbc.co.uk"><span class="info">LATEST BROCHURE<span class="secondaryInfo"></span><span class="arrow"></span></span>
          <span
            class="thirdInfo"></span>
        </a>
      </li>
      <li class="two contentLink heightAuto color">
        <div class="ExternalClass6C68A0695D6D4F518535745DA384E0BD">
          <p><strong>SUBSCRIBE</strong></p>
          <p>Get the latest news about events, shows, and competitions&#8203;</p>
        </div><a href="http://www.bbc.co.uk"><span class="info">SIGN UP<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="two contentLink heightAuto color lighter">
        <div class="ExternalClass772B3EEBB8054C31B2C06159327B7104">
          <p><strong>VENUE HIRE</strong></p>
          <p>Town Hall offers conference, event and meeting spaces to hire&#8203;</p>
        </div><a href="http://www.bbc.co.uk"><span class="info">ENQUIRE<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    </ul>
  </div>
</div>