{% extends "layout_multi_sections.html" %}

{% block page_title %}
Venue details
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}townhall/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
     {% include "townhall/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneFullBottom %}  
{% include "includes/whatson/venue-details.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
  
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

  
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
  
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
    {% include "townhall/includes/main_nav.html" %}
 {% endblock %}