@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,700,800,400,600');


// headerTop.scss -- responsive icons color
$menu-link-color:#fff;
$search-link-background:#e7cc26;

$base-background-color:#2c3e50;
$base-font-size:16px;
$font-primary: 'Oswald', Helvetica, Arial;
$font-secondary:'Quattrocento', Helvetica, Arial; // secondary font

$base-font-color:#fff;
$btn-background-color:#e7cc26;
$base-margin-bottom:20px;

// mainNav.scss
$main-nav-background:lighten(#161f28,5%);
// masterhead.scss

$head-background:  darken($main-nav-background,10%);

//footer.scss
$footer-nav-link:#fff;

// sectionSubsite.scss - socialamedia.scss - blockLinks.scss
$section-Background:#efefef;

//  socialamedia.scss
$social-link-color:#BA000E;


//  sideNavigation.scss
$side-nav-active-background:#133E8D !default;

//  carousel.scss
$carousel-active-background:#000;
$carousel-indicators-active-background:#ccc;
$carousel-caption-background: rgba(60,0,0,0.6);
$carousel-caption-font-color:#fff;

// blocklinks.scss

$block-link-back:#fff;
$block-link-back-hover:#3380A4;

$promo-group-border:10px solid #ddd; 
$promo-group-background:#ddd; 
$promo-group-li-background:#fff;
$promo-group-link-color:#333 !default;

//@import 'base';
//@import 'cookieBanner';
//@import 'masterHead';
@import 'mainMenu';
@import 'breadcrumb';
@import 'variables';
@import 'mixins';
//@import 'footer';
@import 'promo';
@import 'carousel';
@import 'socialMedia';
@import 'sideNavigation';
//@import 'globalSearch';
//@import 'typography';
@import 'accordion';
@import 'promoGroup';
@import 'alerts';
@import 'promoListwebpart';
@import 'eventsWebparts';
@import 'brandColors';




body{
    font-weight:300;
}


.masterhead{
    a.navbar-brand {
    background: url(../img/lcclogo.svg) center center no-repeat;
}
}

// logo overides to accomodate diiferent logo aspect ratios
.sectionHeader{
    padding:0px;
    background:#2c3e50;


 

        
 .logo{
        height:192px;
        width:100%;
        background:url(../img/logo.svg) center top no-repeat;
        margin-bottom:-20px;

        @media (max-width: 767px){
            width:100%;
        }

    }
      }


.sectionOne{
    background:#fff;
    color:#333;
}
.sectionTwo{
    background:#1f2c38;
}



.header-left {
    width:100%;
}

