{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	German markets Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}germanchristmasmarket/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
   {% include "germanchristmasmarket/includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}
          <hr class="ms-rteElement-spacer">
<article>  
			            <p class="lead">Christkindelmarkt is Leeds' annual traditional German Christmas market, bringing a little piece of Germany into the heart of the city centre</p>

<p>With a brand new look for 2016, Millennium Square will be transformed into a scenic winter village featuring a variety of authentic wooden chalet stalls, cosy indoor retreats, a traditional carousel and daily programme of light entertainment</p>

<div class="highlight red">
    <h3>Give us your views!</h3>
    <p>Help us shape next year's Christkindelmarkt by taking part in <strong><a href="https://www.snapsurveys.com/wh/s.asp?k=148120889440"> our online survey</a></strong> to tell us about your experience of Christkindelmarkt 2016</p>
</div><div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="two imgCenter heightTwo"><a href="/germanchristmasmarket/Pages/thingstodo.aspx" style="background: url(http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/thingstodo.jpg) no-repeat"><span class="info">Things To Do<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="imgCenter two heightTwo"><a href="/germanchristmasmarket/Pages/planyourvisit.aspx" style="background: url(http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/planyourvisit.jpg) no-repeat"><<span class="info">Plan Your Visit<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="two imgCenter heightTwo"><a href="/germanchristmasmarket/Pages/history.aspx" style="background: url(http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/history.jpg) no-repeat"><span class="info">History of the Market<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    </ul>
  </div>
</div>
		
                  
                </article>
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}  
<div class="webcam">
    <h2>Never miss a moment!</h2>
    <p>You can watch all the action of the Christmas Market <strong>live on our webcam</strong></p>
    <a class="btn btn-go btn-white" href="http://whatson.leeds.gov.uk/germanchristmasmarket/Pages/millenniumcam.aspx">Watch Live Now</a>
</div>
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
<div class="col-lg-12">
              <div id="contact" class="box-third">
    <h2>Connect With Us</h2>
    <ul class="connect">
        <li><a href="https://twitter.com/millsqleeds" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>@millsqleeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="https://www.facebook.com/ChristkindelmarktLeeds" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>/ChristkindelmarktLeeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="mailto:events@leeds.gov.uk"><i class="fa fa-envelope" aria-hidden="true"></i>events@leeds.gov.uk</a></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>0113 378 6988</li>
    </ul>
</div>
<div class="box-third">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 300px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="profile:millsqleeds" title="Twitter Timeline"></iframe>
</div>
<div class="box-third">
    <img src="http://whatson.leeds.gov.uk/Style%20Library/germanchristmasmarket/img/MAGICAL_LEEDS_LOGO.png" class="img-responsive">
</div>

<!--SCRIPT FOR TWITTER FEED-->
<script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
</script>

                </div>

  
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
     {% include "germanchristmasmarket/includes/main_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}