{% extends "layout_multi_sections.html" %}

{% block page_title %}
Events
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}germanchristmasmarket/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
   {% include "townhall/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
<h1>How to book</h1>
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}

{% block sectionOneFullBottom %}

<article>  
			                                    <p class="lead text-wrapper">There is something for all the family to see and enjoy during your visit to Christkindelmarkt.</p>
                        
						<div class="highlight-promo grey">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/alp-chalet.jpg" alt="Alp Chalet">
                            <span>
                            <h2>Alp Chalet</h2>
                            <p class="lead">The popular Alp Chalet restaurant forms the buzzing centrepiece of the market</p>

                            <p>A comfortable Bavarian styled eatery offering a delicious choice of traditional food and drink with authentic evening entertainment. New for 2016 will be a daily lunch time special menu and a Santa's Breakfast experience on Sunday mornings (see details below).</p> 
							
							<a class="btn btn-red-outline pdf" href="http://whatson.leeds.gov.uk/germanchristmasmarket/Documents/Alp%20Chalet%20Menu.pdf">Download the Alp Chalet Menu (PDF 150KB)</a>
							</span>
									
													
                            
                            <div style="clear:both"></div>
                        </div>
						
                        <div class="highlight-promo white">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/khu-stall.jpg" alt="Kuh stall">
                            <span>
                            <h2>Kuh Stall</h2>
                            <p class="lead">A visit to the Kuh Stall provides the perfect hideaway to chase away those winter chills</p>

                            <p>Unwind with family and friends by the real log fire in this cosy indoor retreat serving a variety of hot and cold drinks and traditional German sausages from the large grill.</p> 
                            </span>
                            <div style="clear:both"></div>
                        </div>
						
						<div class="highlight-promo grey">
                         <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/SKI%20HUTTE.jpg" alt="Ski Hutte">
                            <span>
                            <h2>Ski Hutte - New for 2016</h2>
                        <p class="lead">Experience the all new Ski Hutte bar set in a bespoke alpine chalet</p> 
						
						<p>Offering an apres-ski inspired ambience, the Ski Hutte is an ideal meeting place for socialising with friends after a long day shopping or after work. Keep an eye out for its unique Glockenspiel feature playing up to 30 different Melodies!</p> 
                        </span>
                        <div style="clear:both"></div>
                        </div>

						  <div class="highlight">
                            <h3>Bookings</h3>
							
                            <p>Reservations are available and recommended for the Alp Chalet restaurant and can only be made in person at the venue.</p>
							<p>Visits to the Kuh Stall and Ski Hutte venues are strictly by walk in only subject to capacity.</p>
														                           
                        </div>
                        
                        <div class="highlight-promo white">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/entertainment.jpg" alt="">
                            <span>
                            <h2>Entertainment</h2>
                            <p class="lead">Get into the festive spirit with entertainment for all the family</p> 
							
							<p>Gather with friends and family in the new open air market square featuring a daily programme of light entertainment as well as a weekly children's show every Sunday morning (except Sunday 13th Nov) on the covered stage.
                            
                           </p><div style="clear:both"></div>
                        </span></div>
                     

                        <div class="highlight-promo grey">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/CHILDRENS%20ACTIVITIES.jpg" alt="">
                            <span>
                            <h2>Children's Activities</h2>
                            <p class="lead">Enjoy a free weekly children's show on the market square stage</p>

                             <p>Each Sunday (except Sunday 13 November) from 10:45-11:30am and 12:00-12:45pm the market square stage will host sing-alongs, games, face painting and balloon modelling; with appearances from our Winter Wonderland Princesses and other characters!</p>
                            </span>
                            <div style="clear:both"></div>
                        </div>

                        <div class="highlight-promo white sold-out">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/SANTAS%20BREAKFAST%20EXPERIENCE.jpg" alt="">
                            <span>
                            <h2>Santa's Breakfast Experience</h2>
                            <p class="lead">Join Father Christmas on Sunday mornings for a festive breakfast experience for all the family</p>

                        <p>Each Sunday morning between 10am to 11.30am in the Alp Chalet, Father Christmas will play host to a delicious authentic German breakfast buffet. Upon arrival guests will greeted and escorted to their tables by Santa's little helpers before Father Christmas pays a special visit to each table and presents a gift to the children. The hot and cold buffet will be available throughout the morning including; fresh Brotchen (bread) rolls with jam and butter, cheese, ham, scrambled egg, bratwurst sausage, together with unlimited tea, coffee, hot chocolate plus an assortment of donuts and cakes.</p>
                                
                        <div class="promo-alert red"><span class="sr-only">This event is </span>SOLD OUT</div>
						
						</span>
                            <div style="clear:both"></div>
                        </div>

                        <hr>
						
						
						
						<br>

						 <div class="highlight">
                            <center>
							<h3>Christkindelmarkt Map</h3>
																																                           
						
							<br>
							
							
							<a href="http://whatson.leeds.gov.uk/germanchristmasmarket/Documents/German%20Market%20Map.jpg">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/Documents/German%20Market%20Map.jpg" alt="German Christmas Market Map">
                            </a>
																					                           
                            </center></div>
							
							<br>
						

                        <h2 class="text-center" style="margin-bottom:-20px;">Stalls</h2>
						

						
				            
       
                                <div id="ctl00_PlaceHolderMain_RichHtmlField2_label" style="display:none">PageOverview</div><div id="ctl00_PlaceHolderMain_RichHtmlField2__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_RichHtmlField2_label">&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</div>
		
                  
                </article>

	<div class="col-lg-6">
              <div id="ctl00_m_g_02ef1cc5_d1dd_4732_83ec_8fabcfe439f8">
	<div>
		<table class="table" cellspacing="0" rules="all" caption="" summary="" border="1" id="gv" style="border-collapse:collapse;">
			<thead>
				<tr>
					<th scope="col">Stalls</th><th scope="col">Produce On Sale</th>
				</tr>
			</thead><tbody>
				<tr>
					<td>1 Knobi Satt</td><td>Garlic Ciabatta</td>
				</tr><tr>
					<td>2 Der Nussknacker</td><td>Roasted Almonds</td>
				</tr><tr>
					<td>3 Frankfurter Kaffee Stubb</td><td>Coffee House</td>
				</tr><tr>
					<td>4 Toy Stall</td><td>Cuddly toys and marionette dolls</td>
				</tr><tr>
					<td>5 Original Frankfurter Sausage</td><td>Traditional German fried potato &amp; frikadelen</td>
				</tr><tr>
					<td>6 Brotzeithutte</td><td>Traditional German delicacies including smoked sausages</td>
				</tr><tr>
					<td>7 Pralines</td><td>Chocolates and truffles</td>
				</tr><tr>
					<td>8 Mayart Coffee</td><td>Flavoured Coffee Beans</td>
				</tr><tr>
					<td>9 Pommes &amp; Kase Bude</td><td>French fries &amp; cheese specialities</td>
				</tr><tr>
					<td>10 Ceramic stall</td><td>Floating Ceramics</td>
				</tr><tr>
					<td>11 Glass Blower</td><td>Glass products including Christmas baubles and decorations</td>
				</tr><tr>
					<td>12 Star stall</td><td>Paper stars and Christmas decorations</td>
				</tr><tr>
					<td>13 Woollen Products</td><td>Winterly wool clothing</td>
				</tr><tr>
					<td>14 German Christmas Bakery</td><td>Filled Doughnuts</td>
				</tr><tr>
					<td>15 Zuckerwatte</td><td>Popcorn &amp; Candy Floss</td>
				</tr><tr>
					<td>16 Lowental's Kuhstall</td><td>Beer, mulled wine, coffee, hot chocolate, alcoholic and soft drinks</td>
				</tr><tr>
					<td>17 Alp Chalet</td><td>Indoor Bavarian eatery serving a range of food and drink</td>
				</tr><tr>
					<td>18 Drink stall</td><td>Variety of hot and cold drinks including beer, mulled wine and hot chocolate (with rum or amaretto)</td>
				</tr><tr>
					<td>19 Grill stall</td><td>Traditional German sausages served from the grill</td>
				</tr><tr>
					<td>20 Burgunder Schinken</td><td>Burgundy ham served in rye bread</td>
				</tr><tr>
					<td>21 Gluhwein</td><td>Mulled wine</td>
				</tr>
			</tbody><tfoot>

			</tfoot>
		</table>
	</div>




</div>  
                </div>

  <div class="col-lg-6">
              <div id="ctl00_m_g_02ef1cc5_d1dd_4732_83ec_8fabcfe439f8">
	<div>
		<table class="table" cellspacing="0" rules="all" caption="" summary="" border="1" id="gv" style="border-collapse:collapse;">
			<thead>
				<tr>
					<th scope="col">Stalls</th><th scope="col">Produce On Sale</th>
				</tr>
			</thead><tbody>
				<tr>
					<td>1 Knobi Satt</td><td>Garlic Ciabatta</td>
				</tr><tr>
					<td>2 Der Nussknacker</td><td>Roasted Almonds</td>
				</tr><tr>
					<td>3 Frankfurter Kaffee Stubb</td><td>Coffee House</td>
				</tr><tr>
					<td>4 Toy Stall</td><td>Cuddly toys and marionette dolls</td>
				</tr><tr>
					<td>5 Original Frankfurter Sausage</td><td>Traditional German fried potato &amp; frikadelen</td>
				</tr><tr>
					<td>6 Brotzeithutte</td><td>Traditional German delicacies including smoked sausages</td>
				</tr><tr>
					<td>7 Pralines</td><td>Chocolates and truffles</td>
				</tr><tr>
					<td>8 Mayart Coffee</td><td>Flavoured Coffee Beans</td>
				</tr><tr>
					<td>9 Pommes &amp; Kase Bude</td><td>French fries &amp; cheese specialities</td>
				</tr><tr>
					<td>10 Ceramic stall</td><td>Floating Ceramics</td>
				</tr><tr>
					<td>11 Glass Blower</td><td>Glass products including Christmas baubles and decorations</td>
				</tr><tr>
					<td>12 Star stall</td><td>Paper stars and Christmas decorations</td>
				</tr><tr>
					<td>13 Woollen Products</td><td>Winterly wool clothing</td>
				</tr><tr>
					<td>14 German Christmas Bakery</td><td>Filled Doughnuts</td>
				</tr><tr>
					<td>15 Zuckerwatte</td><td>Popcorn &amp; Candy Floss</td>
				</tr><tr>
					<td>16 Lowental's Kuhstall</td><td>Beer, mulled wine, coffee, hot chocolate, alcoholic and soft drinks</td>
				</tr><tr>
					<td>17 Alp Chalet</td><td>Indoor Bavarian eatery serving a range of food and drink</td>
				</tr><tr>
					<td>18 Drink stall</td><td>Variety of hot and cold drinks including beer, mulled wine and hot chocolate (with rum or amaretto)</td>
				</tr><tr>
					<td>19 Grill stall</td><td>Traditional German sausages served from the grill</td>
				</tr><tr>
					<td>20 Burgunder Schinken</td><td>Burgundy ham served in rye bread</td>
				</tr><tr>
					<td>21 Gluhwein</td><td>Mulled wine</td>
				</tr>
			</tbody><tfoot>

			</tfoot>
		</table>
	</div>




</div>  
                </div>              


{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}




{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
<div class="webcam">
    <h2>Never miss a moment!</h2>
    <p>You can watch all the action of the Christmas Market <strong>live on our webcam</strong></p>
    <a class="btn btn-go btn-white" href="http://whatson.leeds.gov.uk/germanchristmasmarket/Pages/millenniumcam.aspx">Watch Live Now</a>
</div>
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}

              <div id="contact" class="box-third">
    <h2>Connect With Us</h2>
    <ul class="connect">
        <li><a href="https://twitter.com/millsqleeds" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>@millsqleeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="https://www.facebook.com/ChristkindelmarktLeeds" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>/ChristkindelmarktLeeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="mailto:events@leeds.gov.uk"><i class="fa fa-envelope" aria-hidden="true"></i>events@leeds.gov.uk</a></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>0113 378 6988</li>
    </ul>
</div>
<div class="box-third">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 300px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="profile:millsqleeds" title="Twitter Timeline"></iframe>
</div>
<div class="box-third">
    <img src="http://whatson.leeds.gov.uk/Style%20Library/germanchristmasmarket/img/MAGICAL_LEEDS_LOGO.png" class="img-responsive">
</div>

<!--SCRIPT FOR TWITTER FEED-->
<script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
</script>

               
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 {% block footer_nav %}
   {% include "townhall/includes/main_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}