<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="one catergory imgCenter"><a href="http://www.bbc.co.uk"><i class="fa fa-child"></i><span class="info">FAMILY<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one catergory imgCenter"><a href="http://www.bbc.co.uk"><i class="fa fa-smile-o"></i><span class="info">COMEDY<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one catergory imgCenter"><a href="http://www.bbc.co.uk"><i class="fa fa-binoculars"></i><span class="info">THEATRE<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one catergory imgCenter"><a href="http://www.bbc.co.uk"><i class="fa fa-binoculars"></i><span class="info">FILM<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one catergory imgCenter"><a href="http://www.bbc.co.uk"><i class="fa fa-ticket"></i><span class="info">PANTOMIME<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one catergory imgCenter"><a href="http://www.bbc.co.uk"><i class="fa fa-comment-o"></i><span class="info">Talks / Tours<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    </ul>
  </div>
  </div>