               <nav id="main-menu" class="footer">
                    <div class="container-fluid">
                   <ul>
                       <li class="selected"><a href="index.html" class="selected">Home</a></li>
                       <li><a href="thingstodo.html">Things to do</a>
                       <li><a href="planyourvisit.html">Plan your visit</a></li>
                   </ul>
                          
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.main-menu -->
                