{% extends "layout_multi_sections.html" %}

{% block page_title %}
Events
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}lightnight/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
   {% include "lightnight/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
<h1>About us test</h1>
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}

{% block sectionOneFullBottom %}
<p class="ms-rteElement-textHighLight">Light Night Leeds started in 2005 and is an annual multi-arts and light festival which takes place&nbsp;in October at multiple venues across Leeds city centre.</p>


<hr class="ms-rteElement-spacer">
{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}

<hr class="ms-rteElement-spacer">
<h2 class="ms-rteElement-H2-center">What is Light Night?</h2>


<p class="ms-rteElement-textHighLight"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/civic.jpg" alt="Leeds civic hall" class="ms-rtePosition-2" style="margin: 5px; float:right">Light Night is a great opportunity for artists and arts organisations to change the dynamics or perceptions of the city centre at night, and the festival motivates people to “come to town” by offering different events, exhibitions and shows from a variety of artists and performers. &nbsp;&#8203;&#8203;
</p>

<p>Light Night 2016 took&nbsp;place over two nights – Thursday 6 and Friday 7 October. It was&nbsp;our 12th annual festival,&nbsp;showcasing an exciting free programme of artwork, indoor and outdoor, across the city centre.&nbsp;</p>

<hr class="ms-rteElement-Hr">
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
  <hr class="ms-rteElement-Hr">

<p>Light Night is a celebratory night for the huge range of diverse and thriving creative activity taking place in Leeds all year round, and gives local people and visitors to the city free access to art and venues that they might not normally see.&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&nbsp;In 2015 approximately 60,000 visitors attended over 60 unique events across 30 different city centre venues.&#8203;</p>

<br>

<p>Light Night accepts submissions from a range of artists including professionals, students, graduates, and emerging / new artists. We want to show the diversity of work being made in the Leeds area, as well as inviting national and international artists to showcase their work in our city. Call outs for projects will be announced later in the year.</p>

<hr class="ms-rteElement-Hr">
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
<hr class="ms-rteElement-spacer">

<center>
<a href="http://www.lightupthenorth.com/"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/lutn-logo.jpg" alt="Light Up The North logo"></a>
</center>


<p class="ms-rteElement-textHighLight">Light Night Leeds is proud to be a member of <a href="http://www.lightupthenorth.com/">Light&nbsp;up the North</a>, a network of seven light festivals taking place in seven cities across the North of England.</p>
<p>If you love Light Night Leeds and would like to attend more light festivals, find out more about our partners’ events here:</p>
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="contentLink two"><div class="ExternalClass287F94812C8A4E84960CEA477D1AE435"><h2>Blackpool Illuminations</h2></div>
<a href="http://www.blackpool-illuminations.net/"><img src="" alt=""><span class="info">1 Sept - 5 Nov 2016<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="contentLink two"><div class="ExternalClass287F94812C8A4E84960CEA477D1AE435"><h2>Illuminating York&#8203;<br></h2>
</div><a href="http://www.illuminatingyork.org.uk"><img src="" alt=""><span class="info">26 - 29 Oct 2016<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="contentLink two"><div class="ExternalClass2F7EFFC329FB4008BC7F51E3D7BD977E"><h2>Light up Lancaster&#8203;</h2></div><a href="http://www.lightuplancaster.co.uk/"><img src="" alt=""><span class="info">4th - 5th Nov 2016<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="contentLink two"><div class="ExternalClass3D6F70EE6DB3446D82C40A0EC37BF116"><h2>Durham Lumiere&#8203;</h2></div><a href="http://www.lumiere-festival.com/"><img src="" alt=""><span class="info">16 - 19 Nov 2017<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="contentLink two"><div class="ExternalClass8DAAEB263FF3447AB1594771C5CC7526"><h2>Enchanted Parks, Gateshead&#8203;</h2></div><a href="http://www.enchantedparks.com/"><img src="" alt=""><span class="info">6 - 11 Dec 2016<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="contentLink two"><div class="ExternalClassBBB868A8C7D44D98B217B3B26090364E"><h2>Quays Culture, Manchester&#8203;</h2></div><a href="http://www.quaysculture.com/"><img src="" alt=""><span class="info">Year round programme of events<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    </ul> 
  </div>
  </div>
  <hr class="ms-rteElement-spacer">
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
 {% include "includes/whatson/iconLinks.html" %}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 {% block footer_nav %}
  {% include "lightnight/includes/main_nav.html" %}
 {% endblock %}