{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Lightnight Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}lightnight/stylesheets/application.css" rel="stylesheet">
                   <style>
                        .sectionOne:after {
                        display:none;
                        border:1px solid red;
                        }
                  </style>
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "lightnight/includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<br>
<p class="med textHighLight text-center">Light Night Leeds is an annual multi-arts and light festival which takes over Leeds City Centre over two nights in October.  The next edition of Light Night Leeds will be in <strong>October 2017</strong>.  More information coming soon!</p>
  



<p class="med textHighLight text-center"></p>
<div>
</div>
<hr class="ms-rteElement-spacer">
<div>
&#8203;</div>
<p class="med textHighLight text-center"><strong>Light Night 2016<br>
Thursday 6 and Friday 7 October, 6 – 11pm</strong></p>
<div>
                 


                       </div>
&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;<center><p class="ms-rteElement-textHighLight">As darkness falls, come and see the city in a new light…</p>

<br>

<p>The 12th anniversary of Leeds’ biggest free annual multi-arts festival took place over two nights this year with an ‘elements’ inspired programme of installations and performances across the city.</p>

<p>Thousands of visitors witnessed the city centre came alive with over 50 artworks exploring earth, air, fire and water, including spectacular light projections, as well as film, dance, music, theatre, exhibitions and street performances.</p>

<br>

<p>See the city come alive with over 50 artworks including spectacular light projections, as well as film, dance, music, theatre, exhibitions and street performances.</p>

<br>

<p>Thursday night offered lots for families to enjoy, including a triathlon-themed procession with a <strong><a href="/Pages/eventdetails.aspx?eventId=whatson-1237">Lantern Parade</a></strong>, <strong><a href="/Pages/eventdetails.aspx?eventId=whatson-1221">Light Night Ride</a></strong> and <strong><a href="/Pages/eventdetails.aspx?eventId=whatson-1240%22%22">Light Night Art Run</a></strong>, plus <strong><a href="/Pages/eventdetails.aspx?eventId=whatson-1227">90 giant glowing dandelions</a></strong> to walk amongst in Merrion Gardens.</p>

<br>

<p>Friday’s expanded programme saw local and international artists transforming places around the city, including <strong><a href="/Pages/eventdetails.aspx?eventId=whatson-1223">The Falls</a></strong> – a 100ft digital waterfall on Queens’ Hotel, and <strong><a href="/Pages/eventdetails.aspx?eventId=whatson-1217">Today</a></strong> – a groundbreaking music and light project in Trinity.</p>

<br>

<p>Our festival centrepiece – <strong><a href="/Pages/eventdetails.aspx?eventId=whatson-1241">The Phoenix in the Stone</a></strong> – could be seen on both nights on the Civic Hall in Millennium Square. View our programme for full details of all events.</p>

<br><br>

<center>

<a class="btn btn-primary" href="/lightnight/Documents/Light%20Night%20guide%202016.pdf">LIGHT NIGHT 2016 PROGRAMME (PDF 5.1MB)</a> 

<br>&#8203;<br>

<a class="btn btn-primary" href="/lightnight/Documents/Light%20Night%202016%20map%20and%20event%20list.pdf">MAP &amp; EVENT LIST (PDF 531KB)</a>

</center>

<hr class="ms-rteElement-spacer">
  
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
 <center>

<h2 class="ms-rteElement-H2-center">

Relive the excitement of Light Night Leeds 2016</h2>

<br>

<p>Click on the images below to see more..</p>

</center>
<div class="imageGallery" xmlns:ddwrt2="urn:frontpage:internal">
  <ul class="row">
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/1%20Credit%20to%20Mark%20Pickthall%202016%20-%20The%20Indestructible%20Reef%20by%20Alison%20Smith%20(Victoria%20Gardens,%20Victoria%20Gardens%20Zone).JPG" data-action="zoom" alt="Credit to Mark Pickthall" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/11%20Credit%20to%20Steve%20Evans%202016.%20Light%20Night%20Ride,%20light%20Triathlon.jpg" data-action="zoom" alt="Credit to Steve Evans" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/12%20Credit%20to%20Steve%20Evans%202016.%20Lantern%20Parade,%20Light%20Traithlon.jpg" data-action="zoom" alt="Credit to Steve Evans" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/12%20Credit%20to%20Steve%20Evans%202016.%20Lantern%20Parade,%20Light%20Triathlon%202.jpg" data-action="zoom" alt="Credit to Steve Evans" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/17%20Credit%20to%20Steve%20Evans%202016.%20Victoria%20Quarter.jpg" data-action="zoom" alt="Credit to Steve Evans" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/18%20Credit%20to%20David%20Shepherd%202016%20-%20Afterglow%20by%20Atipyka-Visualab%20(The%20Cariageworks%20Auditorium,%20Millennium%20Square%20Zone).JPG" data-action="zoom" alt="Credit to David Shepherd" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/19%20LEEDS%20LIGHT%20NIGHT%202016%20-%C2%AELizzieCoombes%20-%20(Laiki4.jpg" data-action="zoom" alt="Credit to Lizzie Coombes" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/2%20Credit%20to%20Andy%20Lord%202016%20-%20Nankai%20University%20Studen%20Choir%20(University%20Zone)%20(1).jpg" data-action="zoom" alt="Credit to Andy Lord" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/20%20LEEDS%20LIGHT%20NIGHT%202016%20-%C2%AELizzieCoombes.jpg" data-action="zoom" alt="Credit to Lizzie Coombes" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/21%20LEEDS%20LIGHT%20NIGHT%202016%20-%C2%AELizzieCoombes.jpg" data-action="zoom" alt="Credit to Lizzie Coombes" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/29%20Credit%20to%20Mark%20Pickthall%202016%20-%20Flame%20Oz%20(Victoria%20Square,%20Town%20Hall%20Zone)%203.JPG" data-action="zoom" alt="Credit to Mark Pickthall" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/29%20Credit%20to%20Mark%20Pickthall%202016%20-%20Flame%20Oz%20(Victoria%20Square,%20Town%20Hall%20Zone)%205.JPG" data-action="zoom" alt="Credit to Mark Pickthall" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/30%20Credit%20to%20Mark%20Pickthall%202016%20-%20Spark%20(Victoria%20Square,%20Town%20Hall%20Zone)%204.JPG" data-action="zoom" alt="Credit to Mark Pickthall" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/5%20Credit%20to%20Andy%20Lord%202016%20-%20Thread%20(University%20Zone,%20Clothworkers%20Courtyard).jpg" data-action="zoom" alt="Credit to Mark Pickthall" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/5a%20Credit%20to%20Andy%20Lord%202016%20-%20Scultpure%20for%20Peace%20(University%20Zone,%20Emmanuel%20Centre).jpg" data-action="zoom" alt="Credit to Andy Lord" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/8%20Credit%20to%20Frances%20Farrell-Oscroft%202016%20-%20Apparatus%20Florius%20(Town%20Hall%20Zone,%20Park%20Square).JPG" data-action="zoom" alt="Credit to Frances Farrell-Oscroft" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/8%20LEEDS%20LIGHT%20NIGHT%202016%20-%C2%AELizzieCoombes%20-%20(Apparatus%20Florius%20by%20Tom%20Dekyvere,%20Park%20Sqaure,%20Town%20Hall%20Zone)%20179.jpg" data-action="zoom" alt="Credit to Lizzie Coombes" class="img-responsive"></li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="http://whatson.leeds.gov.uk/lightnight/PublishingImages/2016%20photos/9%20Credit%20to%20Frances%20Farrell-Oscroft%202016%20Light%20Water,%20Dark%20Sky%20(South%20Bank%20Zone,%20Leeds%20Dock)%202.JPG" data-action="zoom" alt="Credit to Frances Farrell-Oscroft" class="img-responsive"></li>
  </ul>
</div>
<hr class="ms-rteElement-spacer">  
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
<hr class="ms-rteElement-spacer">  
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="content two"><div class="ExternalClass7F890FDA5E1642D6977EE26986C17CA3"><h2>ZONES</h2>
              <p>Our events are spread over 10 zones across the city centre&#8203;</p></div><a href=""><img src="" alt=""><span class="info"><span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one millenium"><a href="/lightnight/Pages/mappage.aspx?agerange=Millennium+Zone"><img src="/public/lightnight/images/millenium.jpg" alt="millenium zone"><span class="info">Millennium Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one imgRight townhall"><a href="/lightnight/Pages/mappage.aspx?agerange=Town+Hall+Zone"><img src="/public/lightnight/images/townhall.jpg" alt="millenium zone"><span class="info">Town Hall Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one station"><a href="/lightnight/Pages/mappage.aspx?agerange=Station+Zone"><img src="/public/lightnight/images/station.jpg" alt="station zone"><span class="info">Station Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one victoria"><a href="/lightnight/Pages/mappage.aspx?agerange=Victoria+Gardens+Zone"><img src="/public/lightnight/images/victoria.jpg" alt="victoria zone"><span class="info">Victoria Gardens<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one headrow"><a href="/lightnight/Pages/mappage.aspx?agerange=Headrow+Zone"><img src="/public/lightnight/images/headrow.jpg" alt="headrow zone"><span class="info">Headrow Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one briggate"><a href="/lightnight/Pages/mappage.aspx?agerange=Briggate+Zone"><img src="/public/lightnight/images/briggate.jpg" alt="briggate zone"><span class="info">Briggate Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one imgRight quarry"><a href="/lightnight/Pages/mappage.aspx?agerange=Quarry+Hill+Zone"><img src="/public/lightnight/images/quarry.jpg" alt="quarry zone"><span class="info">Quarry Hill Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one university"><a href="/lightnight/Pages/mappage.aspx?agerange=University+Zone"><img src="/public/lightnight/images/unversity.jpg" alt="unversity zone"><span class="info">University Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one southbank"><a href="/lightnight/Pages/mappage.aspx?agerange=Southbank+Zone"><img src="/public/lightnight/images/southbank.jpg" alt="south Bank Zone"><span class="info">South Bank Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
      <li class="one imgRight arena"><a href="/lightnight/Pages/mappage.aspx?agerange=Arena+Zone"><img src="/public/lightnight/images/arena.jpg" alt="arena zone"><span class="info">Arena Zone<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    </ul>
  </div>
</div>
<hr class="ms-rteElement-spacer">  
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
<h2 class="text-center">Keep in touch</h2>
             <ul class="iconLinks">
            
                <li class="facebook">
                    
                    <a href="https://www.facebook.com/childfriendlyleeds">
                        
                        facebook</a>
                </li>
            
                <li class="twitter">
                    
                    <a href="https://twitter.com/Child_Leeds">
                        
                        twitter</a>
                </li>
            
                <li class="youtube">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                        You tube</a>
                </li>

                      <li class="instagram">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                       instagram</a>
                </li>

                      <li class="email">
                    
                    <a href="mailto:childfriendlyleeds@leeds.gov.uk">
                        
                        email</a>
                </li>
            
                </ul>

  
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "lightnight/includes/main_nav.html" %}
 {% endblock %}