{% extends "layout_multi_sections.html" %}

{% block page_title %}
Things to do
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}iceCube/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
   {% include "icecube/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
<h1>Attractions</h1>
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}

{% block sectionOneFullBottom %}

<article>  
			                                    <p class="lead text-wrapper">There is something for all the family to see and enjoy during your visit to Ice cube</p>
                        
						<div class="highlight-promo grey">
                            <img src="/public/icecube/images/ice-jet.jpg" alt="Alp Chalet">
                            <span>
                            <h2>Ice Jet - new for 2017</h2>
                            <p class="lead">Jump aboard a bob sleigh and zoom around at breakneck speed on the exhilarating Ice Jet!</p>

                            <p>Pay on entry to the ride: £3 per person per ride or £2.50 per person per ride with your LEEDSCard or Breezecard</p> 
							
			                <div class="promo-alert orange"><span class="sr-only">Pay on entry to the ride:</span>£3 per ride(consessions £2.50)</div>
							</span>
									
													
                            
                            <div style="clear:both"></div>
                        </div>
						
                        <div class="highlight-promo white">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/khu-stall.jpg" alt="Kuh stall">
                            <span>
                            <h2>North Pole Starflyer</h2>
                            <p class="lead">Experience the nearest thing to flying as you soar over 30m into the sky and spin through 360 degrees!</p>

                            <p>Pay on entry to the ride: £3 per person per ride or £2.50 per person per ride with your LEEDSCard or Breezecard</p> 
                            <div class="promo-alert red"><span class="sr-only">Pay on entry to the ride:</span>£3 per person per ride</div>
                            
                            </span>
                            <div style="clear:both"></div>
                        </div>
						
						<div class="highlight-promo grey">
                         <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/SKI%20HUTTE.jpg" alt="Ski Hutte">
                            <span>
                            <h2>Glacier Run Experience Simulator</h2>
                        <p class="lead">Climb inside the explorer’s capsule and encounter a gripping four minute glacier terrain simulated adventure.</p> 
						
						<p>Pay on entry to the ride: £3 per person per ride or £2.50 per person per ride with your LEEDSCard or Breezecard</p> 
                        </span>
                        <div style="clear:both"></div>
                        </div>

                        
                        <div class="highlight-promo white">
                            <img src="http://whatson.leeds.gov.uk/germanchristmasmarket/PublishingImages/entertainment.jpg" alt="">
                            <span>
                            <h2>Après Skate at the Dolomites Café</h2>
                            <p class="lead">After a session on the ice stop off at the Dolomites Café and treat yourself to a real Italian hot chocolate and sweet treat, and if you’ve worked up an appetite on the rink there’s tasty hot food too.</p> 
							
							<p>For further information and to see what offers are available please visit <strong><a href="http://www.casamiaonline.com/">www.casamiaonline.com</a></strong>                            
                           </p>
						   <p>To see what might tempt you take a look at the </p>
						    <a class="btn btn-outline pdf" 
                            href="http://whatson.leeds.gov.uk/germanchristmasmarket/Documents/Alp%20Chalet%20Menu.pdf">Download the full menu (PDF 757KB)</a>
						   
						   <div style="clear:both"></div>
                        </span></div>
                    					
                  
                </article>

</div>  
                </div>              


{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}




{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
<div class="webcam">
    <h2>Never miss a moment!</h2>
    <p>You can watch all the action of the Christmas Market <strong>live on our webcam</strong></p>
    <a class="btn btn-go btn-white" href="http://whatson.leeds.gov.uk/germanchristmasmarket/Pages/millenniumcam.aspx">Watch Live Now</a>
</div>
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}

              <div id="contact" class="box-third">
    <h2>Connect With Us</h2>
    <ul class="connect">
        <li><a href="https://twitter.com/millsqleeds" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>@millsqleeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="https://www.facebook.com/ChristkindelmarktLeeds" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>/ChristkindelmarktLeeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="mailto:events@leeds.gov.uk"><i class="fa fa-envelope" aria-hidden="true"></i>events@leeds.gov.uk</a></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>0113 378 6988</li>
    </ul>
</div>
<div class="box-third">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 300px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="profile:millsqleeds" title="Twitter Timeline"></iframe>
</div>
<div class="box-third">
      <img src="/public/icecube/images/logo.svg" class="img-responsive" style="width:70%; float:right">
</div>

<!--SCRIPT FOR TWITTER FEED-->
<script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
</script>

               
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 {% block footer_nav %}
   {% include "icecube/includes/main_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}