{% extends "layout_multi_sections.html" %}

{% block page_title %}
Ice Rink
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}iceCube/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
   {% include "icecube/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
<h1>Ice Rink</h1>
{% endblock %}
 
 {% block sectionOneTop %}

{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}

{% block sectionOneFullBottom %}

<nav class="page-navigation">
  <a href="#" class="show-all-parts">what's on this page</a>
<ol>
  <li><a class="active" href="#sectionOne">Ice Rink</a></li>
  <li><a href="#2">Learn to Skate</a></li>
  <li><a href="#3">Assessibility Skating</a></li>
  <li><a href="#4">Ice Rink Rules</a></li>
  <li><a href="#5">Skate Information</a></li>
</ol> 
<div class="clearfix"></div>
</nav> 

<article>  
     <hr class="ms-rteElement-spacer">	
<p class="lead text-wrapper">New covered family friendly Ice Rink!</p>
     <ul>
<li>The new covered ice rink will allow skaters to enjoy an outdoor skating experience whatever the weather</li>
<li>Accessible skating for all</li>
<li>Penguin skating stabilisers available for budding skaters</li>
<li>Skate tuition over a four week group course or individual lessons</li>
<li>Quick Stop refreshments counter at the Dolomites Café</li>
</ul>                   
<h2>Children</h2>
<p>Children aged 12 years and under must be accompanied at the Ice Cube by an adult (aged 18 or over) at all times. Children aged 8 years and under must be accompanied on the ice by an adult.</p>

<h2>Skate sessions</h2>
 
<p>Skaters should arrive up to 30 minutes before the session starts to allow time to get ready, make themselves aware of the <strong><a href="/c/Pages/IceCube/Ice-Rink-Rules.aspx">Ice Rink Rules</a></strong>, and follow any instructions given by the ice marshals. Further skate information can be found in the <strong>related pages</strong> section. Sessions are based on <strong>45 minutes</strong> of skating time starting at the following times:</p>                  					

<table class="table" cellspacing="0" rules="all" caption="" summary="" border="1" id="gv" style="border-collapse:collapse;">
    <tbody>
        <tr><th colspan="3">Monday – Friday (except Leeds School Half Term holiday, Fri 13 – Fri 17 February)</th></tr>
        <tr>
        <td>12noon – 12.45pm</td>
        <td>1pm – 1.45pm</td>
        <td>3pm – 3.45pm</td>
        </tr>
        <tr>
        <td>4pm – 4.45pm</td>
        <td>5pm – 5.45pm</td>
        <td>6pm – 6.45pm</td>
        </tr>
        <tr>
        <td>7pm – 7.45pm</td>
        <td>4pm – 4.45pm</td>
        <td>9pm – 9.45pm (Friday only)</td>
        </tr>
    </tbody>
</table>    


<table class="table" cellspacing="0" rules="all" caption="" summary="" border="1" id="gv" style="border-collapse:collapse;">
    <tbody>
        <tr><th colspan="3">Saturday, Sunday & Leeds School Half Term holiday (Fri 13 - Fri 17 February)</th></tr>
        <tr>
        <td>10am - 10.45am*</td>
        <td>11am – 11.45pm</td>
        <td>12noon – 12.45pm</td>
        </tr>
        <tr>
        <td>1pm – 1.45pm</td>
        <td>2pm – 2.45pm</td>
        <td>3pm – 3.45pm</td>
        </tr>
        <tr>
        <td>4pm – 4.45pm</td>
        <td>5pm – 5.45pm</td>
        <td>6pm – 6.45pm</td>
        </tr>
         <tr>
        <td>7pm – 7.45pm</td>
        <td>8pm – 8.45pm (excluding Sundays)</td>
        <td>9pm – 9.45pm (Friday & Saturday only)</td>
        </tr>
    </tbody>
</table>    


<hr class="brand" />

  <h2 id="2">Learn to skate</h2>



<h3>Four week group tuition skate programme</h3>

<p>A four week course of group skating lessons is available to book in advance, for skaters of all abilities (aged 5 and above with a minimum shoe size of child’s 8).</p>

<p><strong>Times:</strong> 9.00am to 9:45am every Saturday or Sunday for 4 consecutive weeks commencing Saturday 28 January / Sunday 29 January 2017</p>

<p><strong>Price:</strong> £76</p>

<p>This includes all four group lessons, hire of skates, locker and helmet on request, as well as a free skate in the public session immediately after each lesson, and a certificate to the level of proficiency reached.</p>


 
<h3>Individual Skating Lessons</h3>
 
<p>You can also book a 15 minute individual skating lesson with a qualified coach and skate for the rest of the session it takes place within.</p>

<p><strong>Times:</strong></p>
 
<p>The following tuition slots are available each Saturday and Sunday morning within the 10.00 – 10.45 skate session:<br>
10.00am to 10.15am<br>
10.25am to 10.40am</p>

<p>The following tuition slots are available each Saturday and Sunday morning within the 11.00 – 11.45 skate session:<br>
11.00am to 11.15am<br>
11.25am to 11.40am</p>

<p><strong>Price:</strong> £16</p>

<p>This includes free boot hire and free skate for the public skating session in which the lesson takes place.</p>
    
  
<div class="highlight black">
<h3>Booking</h3>

<p>Booking early is recommended, but all bookings for the four week course must be made before Friday 27 January 2017.</p>
 
<p><strong>By telephone</strong> (£1 booking fee applies) from City Centre Box Office on 0113 376 0318 (Monday to Saturday between 10am to 6pm).</p>
 
<p><strong>In person</strong> from the <strong>City Centre Box Office in Leeds Town Hall, The Headrow, LS1 3AD</strong> (opening times as above).</p>
 
<p>Tickets must be collected in person from the City Centre Box Office, Leeds Town Hall in advance (please note box office timings above) and presented on arrival for tuition at the rink marquee.</p>
 
<p>Tickets are non-refundable and their purchase signifies an agreement and acceptance of the <strong><a href="/c/Pages/IceCube/Venue-and-rink-rules.aspx">Venue Conditions</a></strong>.</p>
</div>
  
<hr class="brand" />
  
<h2 id="3">Accessible skating</h2>
 
<p>A concession price is available to those who are registered disabled (proof may be required) and this ticket includes access for a Personal Assistant / Companion. Wheelchair users can access the rink in their own wheelchairs, and should be accompanied on ice by a responsible skater. Disabled users can book for any session although if a quieter session may be more appropriate (where more space is available), then please note these run at the following times:</p>

<p><strong>Saturday, Sunday &amp; Leeds School Half Term holiday (Fri 10 - Fri 17 February):</strong> 10.am to 10.45am&#8203;</p>

<p><strong>Monday – Friday (except Leeds School Half Term holiday, Fri 10 – Fri 17 February): 12 noon to 12.45pm, 1.00pm to 1.45pm, 3.00pm to 3.45pm</strong></p>


<p><strong>A dedicated accessible skating session is held every Thursday from 10.00am.</strong></p>



    
  
<div class="highlight black">
<h3>Booking</h3>
<br />
<a  class="btn btn-primary" href="https://www.quaytickets.com/leedsicecube/Online/default.asp">Online</a><br /><br />
<p>By telephone on on <strong>0843 208 1841</strong> 9:30am to 8pm Mon - Sat, 10am to 8pm Sun</p>

<p>In person from the Event Ticket Office on Millennium Square from 27 January</p>


<p>We recommend that you buy tickets for the dedicated accessible skating sessions in advance to avoid disappointment.</p>

</div>
 <hr class="ms-rteElement-spacer">	

                </article>

      


{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}
 <hr class="ms-rteElement-spacer">	
<h2 id="4">Ice Rink Rules</h2>

<p>For everyone’s safety and enjoyment, all skaters must make themselves aware of the following rules of the rink before going on the ice:</p>

<ul>
<li>Skating can be a hazardous activity and is entirely <strong>at your own risk</strong></li>
<li>Children aged 12yrs and under must be accompanied at the Ice Cube by an adult (aged 18yrs or over), and those aged 8yrs and under must be accompanied on the ice at all times by an adult</li>
<li>We have ten penguin stabilisers available to hire for £1 (cash) on a first-come first-served basis. Skating aids cannot be pre-booked. With a height restriction of 1.1m</li>
<li>Always skate in an anti-clockwise direction, unless directed otherwise by the Ice Manager</li>
<li>Be aware of and respectful to other skaters at all times</li>
<li><strong>Do not spin, jump, speed skate</strong> or cause danger to others, so skate within your limitations</li>
<li><strong>No bags, smoking, food and drink</strong> or the use of <strong>hoods, phones, personal music players</strong> are permitted whilst on the ice</li>
<li>No chains of more than three skaters</li>
<li>Never throw snow or ice, or chip or dig holes in the ice</li>
<li>Always follow instructions given by ice marshals and stewards</li>
</ul>

<p>Please note any skating deemed dangerous to others will not be tolerated and failure to comply with the above rules may result in you being asked to leave</p>




 <hr class="brand">

<h2 id="5">Skate Information</h2>



<h3>Children</h3>

<p>Parents must judge whether their children can skate safely. All children aged 12 years and under must be accompanied at the rink by a parent or guardian aged 18 years or over. All children aged 8 years and under must be accompanied by a parent or guardian aged 18 years or over, who must have a ticket, and be with them on the ice and at all other times.</p>

<p>The popular ‘penguin skate stabilisers’, provides a safe haven for young children aged 8 years and under to find their feet (they must be accompanied by a parent or guardian aged 18 years or over, who must have a ticket, and be with them on the ice and at all other times).</p>


 
<h3>Skate wear</h3>

<p>Skate rental is included in your ticket price and sizes range from a child’s 8 to an adult’s 15, with double-bladed ‘bob skates’ for our youngest visitors. If you have your own pair of skates we’ll store your shoes for free. Safety helmets are available to hire (£1 per session payable at the rink), and are recommended for use for all children aged 12 years or under.</p>
 

<p>Lockers are also available for hire (£2 large/ £1 small, per session, payable at the rink).</p>
 

<p>Skaters are reminded that bags and using mobile phones, hoods, cameras or personal music players is not permitted on the ice. Socks, hats and gloves can be purchased at the rink, but remember to wrap up warm with layered clothing and waterproofs in wet weather.</p>
 

 
<h3>First time skating</h3>

<p>There's no need to worry if you have never skated before as our friendly team of Ice Marshals will be more than happy to give you tips and advice on how to stay on your feet. Just relax, slightly bend your knees, learn forward then push off with one foot and glide with the other...</p>
 
<p><strong><a href="/c/Pages/IceCube/Learn-to-skate.aspx">Learn to skate</a></strong> with a four week group tuition programme or individual lessons. Places are limited so book early to avoid disappointment!</p>


 
<h3>Ice Rink Rules</h3>

<p>Our experienced Ice Marshals are on hand to promote a safe and enjoyable experience at all times. However, Ice skating can be a hazardous activity so please be aware that any on-ice activity is entirely at your own risk.</p>
 
<p>All skaters must make themselves aware of the <strong><a href="/c/Pages/IceCube/Ice-Rink-Rules.aspx">ice rink rules</a></strong> before going on the ice, and follow the instructions and guidance of the Ice Marshals at all times.</p>
 
<p>Remember to be aware of, respectful and courteous to other skaters at all times!</p>


 
<h3>Photography and filming</h3>

<p>Using mobile phones and cameras is not allowed on the ice, however you can buy a memento of your skate from the professional photographer who will be at the rink during most public sessions.</p>

<p>The following photography and filming policy applies at the rink:</p>

<ul>
<li>Recreational photography of family, friends and / or scenic views of the venue / event is permitted, except where other persons attending the event can be clearly identified as the main focus. Please therefore be respectful to other people’s privacy at all times or you may be challenged to stop and / or leave</li>
<li>No tripods or other large photography / film equipment, may be used in the venue without prior written authorisation</li>
<li>Photography / filming / recordings for professional / commercial use is not permitted without prior written authorisation</li>
<li>All persons entering the venue consent to any photography, filming and recording as arranged by the organisers and/or Leeds City Council for possible future transmission or promotional purposes</li>
</ul>

<p>For further information please email <strong><a href="mailto:events@leeds.gov.uk">events@leeds.gov.uk</a></strong></p>
 


 <hr class="ms-rteElement-spacer">	


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
<div class="webcam">
    <h2>Never miss a moment!</h2>
    <p>You can watch all the action of the Christmas Market <strong>live on our webcam</strong></p>
    <a class="btn btn-go btn-white" href="http://whatson.leeds.gov.uk/germanchristmasmarket/Pages/millenniumcam.aspx">Watch Live Now</a>
</div>
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}

              <div id="contact" class="box-third">
    <h2>Connect With Us</h2>
    <ul class="connect">
        <li><a href="https://twitter.com/millsqleeds" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>@millsqleeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="https://www.facebook.com/ChristkindelmarktLeeds" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>/ChristkindelmarktLeeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="mailto:events@leeds.gov.uk"><i class="fa fa-envelope" aria-hidden="true"></i>events@leeds.gov.uk</a></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>0113 378 6988</li>
    </ul>
</div>
<div class="box-third">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 300px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="profile:millsqleeds" title="Twitter Timeline"></iframe>
</div>
<div class="box-third">
      <img src="/public/icecube/images/logo.svg" class="img-responsive" style="width:70%; float:right">
</div>

<!--SCRIPT FOR TWITTER FEED-->
<script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
</script>

               
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 {% block footer_nav %}
   {% include "icecube/includes/main_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}