{% extends "layout_multi_sections.html" %}

{% block page_title %}
Plan your visit
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}iceCube/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block main_nav %}
   {% include "icecube/includes/main_nav.html" %}
{% endblock %}   

{% block header %}
<h1>Plan your visit</h1>
{% endblock %}
 
 {% block sectionOneTop %}
 <div class="openingHours">
   <div class="container-fluid">
   <ul>
     <li><h3><i class="fa fa-clock-o" aria-hidden="true"></i> Opening times</h3></li>
     <li><p>mon - thurs<span>12pm - 8pm</span></p></li>
     <li><p>fri<span>12pm - 9pm</span></p></li>
     <li><p>sat<span>10am - 9pm</span></p></li>
     <li><p>Sun<span>10am - 7pm</span></p></li>
   </ul>
</div>
</div>
{% endblock %} 

{% block sectionOneFull %}  
{% endblock %}

{% block sectionOneFullBottom %}

<article>  
			            <div class="text-wrapper">
    <p class="lead">Christkindelmarkt is located on Millennium Square in the heart of Leeds city centre and is easily accessible from Calverley Street, Cookridge Street and Portland Crescent</p>

   
</div>

<div class="travel-info">

    <div class="box-third">
        <h2><i class="fa fa-map-marker" aria-hidden="true"></i>Venue Address</h2>
        <p>Millennium Square, Leeds, LS2 3AD</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.32812821897!2d-1.5504502341443347!3d53.80144473007692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c1ce33fff99%3A0x6457c56ad94a1220!2sMillennium+Square%2C+Leeds+LS2+3AD!5e0!3m2!1sen!2suk!4v1476362307058" width="100%" height="207" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>

    <div class="box-third">
        <h2><i class="fa fa-car" aria-hidden="true"></i>Travel Options</h2>

        <div class="panel-group" id="travel-options" role="tablist" aria-multiselectable="true">

          <div class="panel panel-green">
            <div class="panel-heading" role="tab" id="heading-bus-info">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#travel-options" href="#bus-info" aria-expanded="false" aria-controls="collapse-bus-info" class="collapsed">
                  By Bus
                </a>
              </h3>
            </div>
            <div id="bus-info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bus-info">
              <div class="panel-body">
                <p>A number of bus routes pass through the city centre and stop in close proximity to Millennium Square on The Headrow and Woodhouse Lane. For all bus service timetable and further information please contact West Yorkshire Metro on <strong>0113 245 7676</strong> or visit <strong><a href="http://www.wymetro.com/" class="external">www.wymetro.com <span class="sr-only">External link.</span></a></strong></p>
              </div>
            </div>
          </div>

            <div class="panel panel-green">
            <div class="panel-heading" role="tab" id="heading-rail-info">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#travel-options" href="#rail-info" aria-expanded="false" aria-controls="collapse-rail-info" class="collapsed">
                  By Rail
                </a>
              </h3>
            </div>
            <div id="rail-info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="rail-info">
              <div class="panel-body">
                <p>Leeds City train station is only a 10 minute walk away from Millennium Square via City Square leading into Park Row and Cookridge Street. For train services and timetable information visit <strong><a href="http://www.nationalrail.co.uk/" class="external">www.nationalrail.co.uk <span class="sr-only">External link.</span></a></strong></p>
              </div>
            </div>
          </div>

            <div class="panel panel-green">
            <div class="panel-heading" role="tab" id="heading-car-info">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#travel-options" href="#car-info" aria-expanded="false" aria-controls="collapse-car-info" class="collapsed">
                  By Car
                </a>
              </h3>
            </div>
            <div id="car-info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="car-info">
              <div class="panel-body">
                <p>A variety of street and secure parking options are available around the Civic Quarter. For further information on city centre parking visit <strong><a href="http://www.leeds.gov.uk/residents/Pages/Parking-in-Leeds.aspx" class="external">www.leeds.gov.uk <span class="sr-only">External link.</span></a></strong> or call parking services on <strong>0113 395 0050</strong>.</p>
                  
                  <p>There are designated taxi ranks located nearby. In order to avoid congestion and access issues on the day,all persons attending are requested not to arrange pick up/drop off directly outside the main gates.</p>
              </div>
            </div>
          </div>

            <div class="panel panel-green">
            <div class="panel-heading" role="tab" id="heading-coach-info">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#travel-options" href="#coach-info" aria-expanded="false" aria-controls="collapse-coach-info" class="collapsed">
                  By Coach
                </a>
              </h3>
            </div>
            <div id="coach-info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="coach-info">
              <div class="panel-body">
                  <p>For information regarding coach parking please email <strong><a href="mailto:tourinfo@leeds.gov.uk &#10;">tourinfo@leeds.gov.uk</a></strong> or call the visitors centre on <strong>0113 242 5242</strong>.</p>
              </div>
            </div>
          </div>

        </div>
    </div>

    <div class="box-third">
        <h2><i class="fa fa-wheelchair" aria-hidden="true"></i>Venue Accessibility</h2>
        <a class="btn btn-outline scroll" href="#venue-accessiblity-details">View the Venues Accessibility Information</a>
        <h2><i class="fa fa-question" aria-hidden="true"></i>FAQs</h2>
        <a class="btn btn-outline scroll" href="#frequently-asked-questions">View our Most Frequently Asked Questions </a>
    </div>

</div>

<hr class="brand" />

<h2 id="venue-accessiblity-details">Venue Accessibility Details</h2>

 {% include "includes/accordion.html" %}

 <hr class="brand" />

<h2 id="frequently-asked-questions">Frequently Asked Questions</h2> 
 {% include "includes/accordion.html" %}	
                  
                </article>         
  <hr class="ms-rteElement-spacer">

{% endblock %}



 {% block breadcrumb %}
 {% include "includes/breadcrumb_sp.html" %}

 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull %}




{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
<div class="webcam">
    <h2>Never miss a moment!</h2>
    <p>You can watch all the action of the Christmas Market <strong>live on our webcam</strong></p>
    <a class="btn btn-go btn-white" href="http://whatson.leeds.gov.uk/icecube/Pages/millenniumcam.aspx">Watch Live Now</a>
</div>
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}

              <div id="contact" class="box-third">
    <h2>Connect With Us</h2>
    <ul class="connect">
        <li><a href="https://twitter.com/millsqleeds" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>@millsqleeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="https://www.facebook.com/ChristkindelmarktLeeds" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>/ChristkindelmarktLeeds <span class="sr-only">External link. Opens in a new window.</span></a></li>
        <li><a href="mailto:events@leeds.gov.uk"><i class="fa fa-envelope" aria-hidden="true"></i>events@leeds.gov.uk</a></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>0113 378 6988</li>
    </ul>
</div>
<div class="box-third">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 300px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="profile:millsqleeds" title="Twitter Timeline"></iframe>
</div>
<div class="box-third">
     <img src="/public/icecube/images/logo.svg" class="img-responsive" style="width:70%; float:right">
</div>

<!--SCRIPT FOR TWITTER FEED-->
<script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
</script>

               
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 {% block footer_nav %}
   {% include "icecube/includes/main_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}