<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="quarter heightTwo imgCenter"><a href="http://www.bbc.co.uk" style=" background: url(/public/icecube/images/ice-rink-2.jpg) no-repeat"><span class="info">Ice rink<span class="secondaryInfo equal-item">Covered family friendly ice rink with accessible skating for all abilities</span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
     <li class="quarter heightTwo imgCenter"><a href="http://www.bbc.co.uk" style="background: url(/public/icecube/images/snowslide.jpg) no-repeat"><span class="info">Snowslide<span class="secondaryInfo equal-item">Capital FM Snowslide</span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
  <li class="quarter heightTwo imgCenter"><a href="http://www.bbc.co.uk" style="background: url(/public/icecube/images/ice-jet.jpg) no-repeat"><span class="info">Attractions<span class="secondaryInfo equal-item">Winter themed rides and attractions including the Ice Jet – New for 2017</span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
     <li class="quarter heightTwo imgCenter"><a href="http://www.bbc.co.uk" style="background: url(/public/icecube/images/casamia.jpg) no-repeat"><span class="info">Cafe<span class="secondaryInfo equal-item">Or grab a bite to eat and warm up at the Dolomites Café by Casa Mia</span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    </ul>
  </div>
  </div>