@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,700,800,400,600');


// headerTop.scss -- responsive icons color
$menu-link-color:#333;
$search-link-background:#F3F3F4;
$search-link:#333;


$base-background-color:#fff;
$base-font-size:16px;
$font-primary: 'Oswald', Helvetica, Arial;
$font-secondary:'Oswald', Helvetica, Arial; // secondary font
$base-font-color:#fff;
$btn-background-color:#89c23f;
$base-margin-bottom:20px;
$base-link-color:#89c23f;

// mainNav.scss
$main-nav-background:#000;
// masterhead.scss

$head-background:#fff;

//footer.scss
$footer-nav-link:#89c23f;

// sectionSubsite.scss - socialamedia.scss - blockLinks.scss
$section-Background:#efefef;

//  socialamedia.scss
$social-link-color:#89c23f;
$iconLinkBorderColor:#fff;
$iconLinkBackground:#fff;
$iconLinkIconColor:#89c23f;

//  sideNavigation.scss
$side-nav-active-background:#133E8D !default;

//  carousel.scss
$carousel-active-background:#000;
$carousel-indicators-active-background:#ccc;
$carousel-caption-background: rgba(60,0,0,0.6);
$carousel-caption-font-color:#fff;

// blocklinks.scss

$block-link-back:#fff;
$block-link-back-hover:#3380A4;

$promo-group-border:10px solid #ddd; 
$promo-group-background:#ddd; 
$promo-group-li-background:#fff;
$promo-group-link-color:#333 !default;

//promolist webpart
$link-font-color:#fff;
$span-info-color:#89c23f;
$span-info-hover:#131A22;
$span-info-secondary-color:#fff;
$span-arrow-base:transparent;
$span-third-info-base:#fff;
$third-info-font-color:#333;
$arrow-color:#fff;
$contentFontColor:#333;
$content-arrow-color:#333;
$content-border-color:#333;

// Events webparts
$eventsfilter-hightlight-color:#89c23f;



@import 'base';

@import '2010-typography-overrides';
@import 'accordion';
@import 'a-to-z';
@import 'block-links';
@import 'block-quote';
@import 'brand-colors';
@import 'carousel';
@import 'content-link'; //subsite only
@import 'description-list';
@import 'doc-list'; //needs aligning with lcc_doc-list and a.doc within typography - DH
@import 'events-search-results';
@import 'events-webparts';
@import 'group-promo';
@import 'hero-banner';
@import 'hero-banner-overlay'; //needs aligning with hero-bnner - RM
@import 'icon-links';
@import 'mega-promo';
@import 'news';
@import 'open-data'; //is it leeds.gov.uk specific? - does it need re-naming- DH
@import 'journey-page';
@import 'phase-banner'; //work needed to have in page beta banner
@import 'polaroids'; //subsite only
@import 'promo';
@import 'promo-list-webpart'; //subsite only
@import 'section-subsite'; //subsite only
@import 'sharepoint-overrides'; 
@import 'side-nav'; //needs aligning with side-navigation - DH & RM
//@import 'side-navigation'; //needs aligning with side-nav - DH & RM
//@import 'survey-webpart'; //is it leeds.gov specific? Relys on where-i-live which should be in the fet but renamed to search-panel - DH
@import 'url-helper';
//@import 'webchat';





body{
    font-weight:300;
}

.btn{
    text-decoration:none;
}



@media only screen and(max-width:768px){
img{
    max-width:100%;
}
}

a{
    color:$base-link-color;
    &:hover{
        color:lighten($base-link-color,10%)
    }
    &:visited{
      color:lighten($base-link-color,10%)
    }
}

p {
    font-size:21px;
}

.masterhead input {
    color:#333;
}

// logo overides to accomodate diiferent logo aspect ratios
.sectionHeader{
    padding:0px;
    background: #000c0c url(../images/headerbackground.jpg) no-repeat center bottom;
    min-height:275px;

 

        
 .logo{
        height:192px;
        width:100%;
        background:url(../images/logo.png) center top no-repeat;
        margin:20px 0;

        @media (max-width: 767px){
            width:100%;
        }

    }
      }



.header-left {
    width:100%;
}

.sectionOne, .sectionTwo, .sectionThree, .sectionFour, .sectionFive {

    &:after {
    content: "";
    width: 208px;
    height: 48px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -104px;
}

}

.sectionOne{
    background: #fff url(../images/sectionOneBack.png) repeat-y 50% 0;

&:after {
    background: url(../images/sectionOneArrow.png) repeat-y 0 0;
    z-index: 1005;
}


}


.sectionOne, .sectionFour,.sectionFive {
    color:#333;
    h1, h2, h3, h4, h5, ul, ol, p, input {
    font-family:$font-primary;
    color:#333;
}

}


.sectionTwo{
    color:#fff;
    background:  lighten(#23333d,5%) url(../images/sectionTwoBack.png) repeat-y 50% 0;

&:after {
    background: url(../images/sectionTwoArrow.png) repeat-y 0 0;
       z-index: 1004;
}
}

.sectionThree{
    color:#fff;
    background: lighten(#23333d,10%) url(../images/sectionThreeBack.png) repeat-y 50% 0;

&:after {
    background: url(../images/sectionThreeArrow.png) repeat-y 0 0;
       z-index: 1003;
}
}


.sectionFour{
    color:#fff;
    background: #efefef url(../images/sectionFourBack.png) repeat-y 50% 0;

&:after {
    background: url(../images/sectionFourArrow.png) repeat-y 0 0;
       z-index: 1002;
}
}


.sectionFive{
    color:#fff;
   background:#866dae url(../images/sectionFiveBack.jpg) no-repeat 50% bottom;
    padding-bottom: 150px;

&:after {
    background: url(../images/sectionFiveArrow.png) repeat-y 0 0;
    z-index: 1001;
}
}

footer.main {
    background: #000 url("../images/footerLogos.png") no-repeat scroll 50% 40px;
    padding-top:220px;

 @media only screen and (max-width:900px){
  background: #000 url("../images/footerLogosResponsiveM.png") no-repeat scroll 50% 40px;   
  padding-top:400px;
 }


 @media only screen and (max-width:600px){
    background: #000 url("../images/footerLogosResponsive.png") no-repeat scroll 50% 40px;
    padding-top:600px;
 }

    .footer ul li a{
        border-bottom:1px solid #444 !important;
        color:#89c23f !important;
    }

  
    
}





.eventsContentPod h3, .venuesContentPod h3 {
    margin-top: 0px;
    color: #006da5;
}

.main-nav ul li a{

color:#89c23f;    

&.selected {
    background: #fff !important;
    color:#704997 !important;

    @media only screen and (max-width: 678px){
        background:transparent !important;
        color:#fff !important;
    }
}
}


// New lightnight variables

    
$millenium-base-color:#f9c21f;
$townhall-base-color:#92527f;  
$quarry-base-color:#589898;
$victoria-base-color:#4a8938;
$headrow-base-color:#c6cf24;
$briggate-base-color:#6db2e1;
$arena-base-color:#8e8e97; 
$university-base-color:#da94b8; 
$southbank-base-color:#98b832; 
$station-base-color:#7b67a2;






/*new events webpart and promo using the list display webpart  ----------------------------------------------------------------------*/



 
.promoListWebpart {   
    
font-size:18px;
.millenium a span.info {
    background:$millenium-base-color;
}

.townhall a span.info {
    background: $townhall-base-color;
}

.quarry a span.info {
    background: $quarry-base-color;
}

.victoria a span.info {
    background:$victoria-base-color;
}

.headrow a span.info {
    background: $headrow-base-color;
}

.briggate a span.info {
    background: $briggate-base-color;
}

 .arena a span.info {
    background:$arena-base-color;
}

.university a span.info {
    background:$university-base-color;
}
    
    .southbank a span.info {
    background:$southbank-base-color;
}
    
    .station a span.info {
    background:$station-base-color;
}
}





hr.ms-rteElement-spacer, hr.spacerTop, hr.spacerBottom {
    padding-bottom: 2.875em;
}

.med {
    font-size: 35px;
}

.textHighLight {
    color: #80c4da !important;
}

.imageGallery {
    
    ul {
    padding: 0;
    margin: 0;

    li {
    list-style: none;
    margin-bottom: 25px;
    overflow: visible;
    max-height: 110px;

    img {
    cursor: pointer;
    max-height: 106px;
}
}
}

.modal-body>img {
    max-height: 500px;
}

.modal-header {
    height: 80px
}

.modal-close {
    float: right;
    background: #fff url(../images/iconClose.svg) no-repeat 50% 50%;
    width: 50px;
    height: 50px;
    text-indent: -3000em;
    cursor: pointer
}

 .modal-close:hover {
    background: #efefef url(../img/iconClose.svg) no-repeat 50% 50%
}

.modalButtons {
    padding-top: 15px;
    min-height: 80px
}

.next {
    float: right;
    text-align: right
}

}


/*ZOOM - IMAGE GALLERY*/

img[data-action="zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 1111;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

.zoom-overlay {
    z-index: 1100;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    filter: "alpha(opacity=0)";
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
    filter: "alpha(opacity=100)";
    opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
    cursor: default;
}




.eventsFilterSortContainer{

    $base-font-size:16px;

}


hr.ms-rteElement-spacer {
    -ms-name: "spacer";
    display: block;
    clear: left;
    padding-bottom: 3.875em;
}


.ms-rteElement-Hr{
    border:none;
    clear:both;
    display:block;
    padding-top:1px;
    margin-top: 40px;
}

hr.ms-rteElement-spacerHr {
    -ms-name: "spacerHr";
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 2px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    display: block;
    clear: left;
    height: 0
}

.ms-rtePosition-2 {
    padding: 15px
}

p.ms-rteElement-textHighLight {
    -ms-name: "textHighLight";
    color: #80c4da!important;
    font-size: 35px;
    line-height: 1.3em;
    margin-bottom: 30px;
    padding: 0
}

p.ms-rteElement-p {
    padding: 0 1%
}

@media only screen and (max-width: 770px) {
    .ms-rteElement-Hr {
        padding: 5px 0;
        padding-bottom: 2.875em;
    }
 
    .ms-rtePosition-2 {
        padding: 15px;
        max-width: 50%
    }
    p.ms-rteElement-textHighLight {
        font-size: 28px
    }
}

@media only screen and (max-width: 500px) {
    .ms-rtePosition-2 {
        padding: 20px;
        max-width: 100%
    }
}

h2.ms-rteElement-H2 {
    -ms-name: "heading 2";
    display: table;
    padding: 0 0 25px 0;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 36px
}

h3.ms-rteElement-H3 {
    font-size: 28px;
    margin-left: 1%;
    margin-right: 1%
}

h2.ms-rteElement-H2-center {
    -ms-name: "heading 2 center";
    text-align: center
}

div.ms-rteElement-divLeft {
    -ms-name: "divLeft";
    float: left;
    margin: 0 1% 25px 1%;
    border: 1px solid #777;
    padding: 30px;
    width: 48%
}

div.ms-rteElement-divThird {
    -ms-name: "divThird";
    float: left;
    margin: 0 1% 25px 1%;
    border: 1px solid #777;
    padding: 30px;
    width: 31.3%
}

div.ms-rteElement-divRight {
    -ms-name: "divRight";
    float: right;
    margin: 0 1% 25px 1%;
    border: 1px solid #777;
    padding: 25px
}

div.ms-rteElement-divRight50 {
    -ms-name: "divRight50";
    float: right;
    margin: 0 1% 25px 1%;
    border: 1px solid #777;
    padding: 25px;
    width: 48%
}

div.ms-rteElement-divFull {
    -ms-name: "divFull";
    float: right;
    margin: 0 1% 25px 1%;
    border: 1px solid #777;
    padding: 25px;
    width: 98%
}

div.ms-rteElement-divFull h2,
div.ms-rteElement-divFull h3 {
    border-bottom: 1px solid #777;
    padding-bottom: 25px;
    width: 100%
}

div.ms-rteElement-divFull h2,
div.ms-rteElement-divFull h3,
div.ms-rteElement-divFull h4,
div.ms-rteElement-divFull h5,
div.ms-rteElement-divFull p,
div.ms-rteElement-divFull ol,
div.ms-rteElement-divFull ul {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0
}

div.ms-rteElement-divFull img {
    max-width: 100%
}

div.ms-rteElement-divLeft h2,
div.ms-rteElement-divThird h2,
div.ms-rteElement-divRight50 h2 {
    border-bottom: 1px solid #777;
    padding: 0 0 25px 0;
    width: 100%
}

div.ms-rteElement-divLeft h3,
div.ms-rteElement-divThird h3,
div.ms-rteElement-divRight50 h3 {
    border-bottom: 1px solid #777;
    padding-bottom: 25px;
    width: 100%
}

div.ms-rteElement-divLeft h2,
div.ms-rteElement-divThird h2,
div.ms-rteElement-divRight50 h2,
div.ms-rteElement-divLeft h3,
div.ms-rteElement-divThird h3,
div.ms-rteElement-divRight50 h3,
div.ms-rteElement-divLeft h4,
div.ms-rteElement-divThird h4,
div.ms-rteElement-divRight50 h4,
div.ms-rteElement-divLeft h5,
div.ms-rteElement-divThird h5,
div.ms-rteElement-divRight50 h5,
div.ms-rteElement-divLeft p,
div.ms-rteElement-divThird p,
div.ms-rteElement-divRight50 p,
div.ms-rteElement-divLeft ol,
div.ms-rteElement-divThird ol,
div.ms-rteElement-divRight50 ol,
div.ms-rteElement-divLeft ul,
div.ms-rteElement-divThird ul,
div.ms-rteElement-divRight50 ul {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0
}

div.ms-rteElement-divLeft .btn,
div.ms-rteElement-divThird .btn,
div.ms-rteElement-divRight50 .btn {
    width: 100%
}

div.ms-rteElement-divLeft img,
div.ms-rteElement-divThird img,
div.ms-rteElement-divRight50 img {
    max-width: 100%
}

div.ms-rteElement-divFull.highlight,
div.ms-rteElement-divLeft.highlight,
div.ms-rteElement-divThird.highlight,
div.ms-rteElement-divRight.highlight {
    border-color: #111;
    background: #111
}

div.ms-rteElement-divFull.highlight h2,
div.ms-rteElement-divLeft.highlight h2,
div.ms-rteElement-divThird.highlight h2,
div.ms-rteElement-divRight.highlight h2,
div.ms-rteElement-divFull.highlight h3,
div.ms-rteElement-divLeft.highlight h3,
div.ms-rteElement-divThird.highlight h3,
div.ms-rteElement-divRight.highlight h3,
div.ms-rteElement-divFull.highlight p,
div.ms-rteElement-divLeft.highlight p,
div.ms-rteElement-divThird.highlight p,
div.ms-rteElement-divRight.highlight p,
div.ms-rteElement-divFull.highlight ul,
div.ms-rteElement-divLeft.highlight ul,
div.ms-rteElement-divThird.highlight ul,
div.ms-rteElement-divRight.highlight ul,
div.ms-rteElement-divFull.highlight ol,
div.ms-rteElement-divLeft.highlight ol,
div.ms-rteElement-divThird.highlight ol,
div.ms-rteElement-divRight.highlight ol,
div.ms-rteElement-divFull.highlight div,
div.ms-rteElement-divLeft.highlight div,
div.ms-rteElement-divThird.highlight div,
div.ms-rteElement-divRight.highlight div {
    color: #80c4da!important
}

div.ms-rteElement-divFull.highlight h2,
div.ms-rteElement-divLeft.highlight h2,
div.ms-rteElement-divThird.highlight h2,
div.ms-rteElement-divRight.highlight h2,
div.ms-rteElement-divFull.highlight h3,
div.ms-rteElement-divLeft.highlight h3,
div.ms-rteElement-divThird.highlight h3,
div.ms-rteElement-divRight.highlight h3 {
    border-color: #444
}

@media only screen and (max-width: 1000px) {
    div.ms-rteElement-divThird {
        width: 98%
    }
}

@media only screen and (max-width: 600px) {
    div.ms-rteElement-divLeft,
    div.ms-rteElement-divRight50,
    div.ms-rteElement-divRight {
        width: 98%
    }
}

.resultsItem{
    a{
        color:#006da5;
    }
}

 .btn.btn-primary, .btn {
    white-space: inherit;
}

@media only screen and (max-width: 600px){



.promoListWebpart .contentLink a {
   position:relative;
   height:auto;

   .info{
    position:relative;
   }
}
}

@media only screen and (max-width: 500px){

img{
    width:100%;
}
}

.sectionOne .ms-srch-result #Paging li {
    display: inline;
    margin: 0 3px;
}
.sectionOne .ms-srch-result #PagingLink a {
    margin: 0px;
    padding: 5px 15px;
    position: relative;
    top: 1px;
    color: #fff;
    background-color: $base-link-color;
    display: inline-block;
}
.sectionOne .ms-srch-result #PagingSelf a {
    margin: 0px;
    padding: 5px 15px;
    position: relative;
    top: 1px;
    color: #fff;
    background-color:#333;
    display: inline-block;
}
.sectionOne .ms-srch-result #Paging a:hover {
    color: #fff;
    background-color: #333;
}
.sectionOne li#PagingImageLink a {
    padding: 16px;
    border-radius: 100%;
}
.sectionOne .col-md-8 .ms-promlink-button-image {
    margin: -7px 0 20px -7px;
}
.sectionOne #PageLinkPrev .ms-promlink-button-image::before {
    font-family: FontAwesome;
    content: "\f060";
    position: relative;
    top: -5px;
    left: -1px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.sectionOne #PageLinkNext .ms-promlink-button-image::before {
    font-family: FontAwesome;
    content: "\f061";
    position: relative;
    top: -5px;
    left: -1px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.sectionOne #PageLinkPrev img.ms-srch-pagingPrev, .sectionOne #PageLinkNext img.ms-srch-pagingNext {
    display: none;
}
.ms-srch-sb-borderFocused {
    border: none!important;
    width: 100%
}
.col-md-8 .ms-srch-sbLarge-fullWidth {
    width: 80%;
}
.col-md-8 #SearchBox {
    padding: 8px 10px 3px 10px;
    width: 100%;
    max-width: 900px;}


        #nav-search {
    display: none;
}